.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;;
}

.login_container_backdrop {
  background: url(../../assets/R.jpeg);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.login_box {
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  z-index: 2;
}


.login_box_title h1 {
  margin: 0px;
}

.login_box_form_container {

}

.login_box_form {

}

.login_box_form_field {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.login_box_form_field label {
  border: 0px;
  text-align: left;
  margin-bottom: 3px;
}

.login_box_form_field input {
  border: 0px;
  border-bottom: 1px solid lightgray;
  transition: all 0.2s ease;
  outline: none;
  margin-bottom: 5px;
}

.login_box_form_field input:focus {
  border: 0px;
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
  outline: none;
}

.login_box_form_field button {
  border: 0px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  line-height: 30px;
  background-color: #045494;
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
  transition: all 0.2s ease;
  cursor: pointer;
}

.login_box_form_field button:hover {
  background-color: #60aee5;
  color: black;
  transition: all 0.2s ease;
}