<div class="movie-card_container">
  <div 
    class="movie-card"
    :style="{backgroundImage: poster}"
    @mouseover="showDetails = true"
    @mouseleave="showDetails = false"
  >
    <div
      @click="addFavorite()"
      class="movie-card_favorite"
      :class="isFavorite ? 'selected' : ''">
      <i class="fa-solid fa-star"></i>
    </div>
    <transition name="fade" mode="out-in">
      <div 
        class="movie-card_overview"
        v-if="showDetails"
      >
        <p>{{ overview }}</p>
        <button
          @click="openMovie()"
          class="movie-card_more"
        >
          See more details
        </button>
      </div>
    </transition>
  </div>

  <div class="movie-card_header">
    <div class="rating-std">
        <div class="rating-star">
          {{rating}}%
          <i class="fa-solid fa-thumb-up">
          </i>
        </div>
    </div>
  </div>
    <div class="movie-card_title">
      <h4>{{ title }} ({{ year }})</h4>
    </div>
</div>