<div class="navbar-container">
  <div class="navbar_left-side">
    <div class="navbar_page-name">
      YMP
    </div>
    <div class="navbar_menu" v-if="authenticated">
      <router-link class="navbar_menu_item" to="/home">Home</router-link>
      <router-link class="navbar_menu_item" to="/favorites">Personal Favorites</router-link>
    </div>
  </div>
  <div class="navbar_right-side" v-if="authenticated">
    <div class="navbar_right-side_profile-container">
      <div class="navbar_right-side_profile_photo-container" @click="toggleMenu()">
        <img src="../../..//assets/OIP.jpeg" alt="" class="navbar_right-side_profile_photo">
      </div>
    </div>
    <div class="navbar_right-side_logout-menu" v-if="showMenu">
      <div class="navbar_right-side_logout-menu_item">
        <div @click="logout">
          Logout
        </div>
      </div>
    </div>
  </div>
</div>