<div class="footer-container">
  <div class="footer">
    <div class="footer_left-side">
      <div class="footer_left-side_page-nav_container">
        <h4>YMP - Your Movie Place</h4>
        <div class="footer_left-side_page-nav" v-if="authenticated">
          <router-link to="/home">Home</router-link>
          <router-link to="/favorites">Personal Favorites</router-link>
          <router-link to="/login">Logout</router-link>
        </div>
      </div>
    </div>
    <div class="footer_right-side">
      <span>
        Vue3 Test App  (Jan - 2023)
      </span>
      <h6>
        Renne Castellanos
      </h6>
    </div>
  </div>
</div>