<div class="footer-container">
  <div class="footer">
    <div class="footer_left-side">
      <div class="footer_left-side_page-nav_container">
        <h4>YMP - Your Movie Place</h4>
        <div class="footer_left-side_page-nav">
          <a href="#">Home</a>
          <a href="#">Favorites</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>
    <div class="footer_right-side">
      <span>
        Vue3 Test App  (Jan - 2023)
      </span>
      <h6>
        Renne Castellanos
      </h6>
    </div>
  </div>
</div>