<div class="centered-template">

  <div class="banner">
    <h1> YMP - Your Movie Place</h1>
    <h2>The perfect place to list all your must see movies</h2>
  </div>

  <div class="movies-categories">
    <div class="favorite-movies" v-if="favorites">
      <h3>Favorites Movies</h3>
      <swiper
        :slides-per-view="4"
        :space-between="50"
      >
        <swiper-slide
          v-for="(movie, $index) in favorites" 
          :key="$index"
        >
          <MovieCardExtendedComponent
            :movie="movie"
          >
          </MovieCardExtendedComponent>
        </swiper-slide>
      </swiper>
    </div>
    
    <div class="trend-movies">
      <h3>Trend Movies</h3>
      <swiper
        :slides-per-view="5"
        :space-between="50"
      >
        <swiper-slide
          v-for="(movie, $index) in trend" 
          :key="$index"
        >
          <MovieCardComponent
            
            :movie="movie"
          >
          </MovieCardComponent>
        </swiper-slide>
      </swiper>
    </div>

    <div class="country-movies">
      <h3>Trend Movies in your country</h3>
      <swiper
        :slides-per-view="5"
        :space-between="50"
      >
        <swiper-slide
          v-for="(movie, $index) in country" 
          :key="$index"
        >
          <MovieCardComponent
            :movie="movie"
          >
          </MovieCardComponent>
        </swiper-slide>
      </swiper>
    </div>
  </div>

</div>
