.centered-template {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.banner {
  background: url('https://img.freepik.com/premium-photo/movie-theater-during-screening-animated-movie_136930-1144.jpg');
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 8px rgb(0 0 0 / 30%);
  border-radius: 8px;
  margin-bottom: 20px;
}

.banner h1 { 
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  padding: 30px 10px 10px;
  margin: 0;
  border-radius: 8px 0 0 0;
  background: linear-gradient(to right, rgb(0 0 0 / 80%), rgb(0 0 0 / 0%));
  
}

.banner h2 { 
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  padding: 0 10px 10px;
  margin: 0;
  background: linear-gradient(to right, rgb(0 0 0 / 80%), rgb(0 0 0 / 0%));
}

.movies-categories {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  padding: 20px;
}

.favorite-movies,
.trend-movies,
.country-movies {
  display: block;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.favorite-movie-list,
.trend-movie-list,
.country-movie-list {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  max-width: calc(100% - 60px);
}

.story-carousel .story-carousel__slide {
  
}
.story-carousel--colors .story-carousel__slide:nth-child(n+1) {
  background: #2e5c8a;
}
.story-carousel--colors .story-carousel__slide:nth-child(2n+1) {
  background: #336699;
}

.vs-carousel__arrows {
  border: none;
  margin: auto 5px;
  border-radius: 100%;
  font-size: 0;
  background-color: rgb(255 255 255 / 50%);
  box-shadow: 0px 3px 3px 0px #404040;
  line-height: 10px;
  vertical-align: middle;
}

.vs-carousel__arrows--left::before {
  content: "<";
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 45px;
}

.vs-carousel__arrows--right::before {
  content: ">";
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 45px;
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .centered-template {
      margin: 20px 120px;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .centered-template {
      margin: 20px 220px;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    .centered-template {
      margin: 20px 250px;
    }
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .centered-template {
      margin: 20px 30px;
    }
}
@media only screen and (device-width: 768px) {
    /* default iPad screens */
    .centered-template {
      margin: 20px 20px;
    }
}